* {
    /* border: solid 2px red; */
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
}

.box {
    background-color: black;
    width: 100%;
    height: 100%;
}

#grid {
    width: 512px;
    height: 512px;
}